.sectionLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.image {
  width: 330px;
  height: 20px;
}

.testimonyCard {
  background-color: #fffafe;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: justify;
  margin: 10px;
}
