.sectionWhyMe {
  padding: 80px 30px 30px 30px;
  background-color: #f8f0fe;
}

.sectionLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.image {
  width: 80px;
  height: 10px;
}

.whyMe {
  //display: flex;
  //gap: 30px;
  font-size: 1.2rem;
}

.whyMe div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: justify;
}

.sectionLabel h3,
p {
  color: #5b565e;
}

.whyMe img {
  float: left;
  width: 250px;
  height: 190px;
  object-fit: cover;
  margin-right: 30px;
}
