*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", "Lora", "Fira-Sans", sans-serif;
  margin: 0;
  line-height: 1.2;
  min-width: 360px;
  background-color: #f8f0fe;
  /* background: linear-gradient(180deg, #f0eceb 0%, #e3dae9 50%, #d3c6e5 100%); */
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

button {
  cursor: pointer;
  border: none;
  background-color: unset;
}

section {
  padding: 100px 0;
  background-color: #fffafe;
  outline: 1px solid blue;
  scroll-margin-top: 100px;
}

h1 {
  color: #4b3245;
}

h3 {
  color: #2b2b2b;
}

p {
  color: #4a4a4a;
}

.main-container {
  outline: 1px solid red;
  max-width: 1170px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
